*{
    background-color: yellowgreen;
}
.jok{
    font-size: 36px; /* Adjust the font size as needed */
            color: #333; /* Text color */
            text-align: center; /* Center align the text */
            text-transform: uppercase; /* Uppercase text */
            margin: 20px 0; 
}
.span{
    height: 500px;
    width: 600px;
    background-color: black;
    margin-top: 100px;
    margin-left: 400px;
}
#btn{
    background-color: orange;
    margin-left: 250px;
    margin-top: 150px;
    display: block;
    border: none;
    padding: 5px;
    font-size: 18px;
    color: rgb(226, 177, 43);
    font-weight: 600;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}
img{
    align-self: center;
    margin-left: 150px;
    size-adjust: .8rem;
    

}
p{
    font-size: 16px;
    color: rgb(221, 209, 193);
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    background-color: black;
}